{% extends 'base.html' %}

{% block content %}

<h2>Instrumentos</h2>

<a href="/instrumentos/nuevo" class="btn">
    Nuevo instrumento
</a>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Ubicación</th>
            <th>Descripción</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>

    <tbody>

        {% for item in instrumentos %}

        {% set instrumento = item["instrumento"] %}
        {% set estado = item["estado"] %}

        <tr>
            <td>{{ instrumento.id }}</td>
            <td>{{ instrumento.nombre }}</td>
            <td>{{ instrumento.tipo }}</td>            
            <td>{{ instrumento.ubicacion }}</td>
            <td>{{ instrumento.descripcion }}</td>
            <td>

                {% if estado == "VIGENTE" %}

                    <span style="color: green;">
                        ✔ {{ estado }}
                    </span>

                {% elif estado == "PRÓXIMO A VENCER" %}

                    <span style="color: orange;">
                        ⚠ {{ estado }}
                    </span>

                {% elif estado == "VENCIDO" %}

                    <span style="color: red;">
                        ✖ {{ estado }}
                    </span>

                {% else %}

                    {{ estado }}

                {% endif %}

                </td>

            <td>
                <a href="/calibraciones/{{ instrumento.id }}" class="btn">
                    Calibraciones
                </a>
                <a href="/instrumentos/editar/{{ instrumento.id }}"
                   class="btn">
                    Editar
                </a>

                <a href="/instrumentos/eliminar/{{ instrumento.id }}"
                   class="btn-danger">
                    Eliminar
                </a>
            </td>
        </tr>
        {% endfor %}

    </tbody>


</table>

{% endblock %}